extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nunc est, rutrum quis cursus quis, suscipit eu lacus. Quisque blandit tortor vitae nulla aliquam bibendum. Maecenas et auctor ligula. Aenean eu blandit lectus. Mauris sed rhoncus dui, non mattis diam. Nullam in aliquam urna. Curabitur ac feugiat dolor. Cras auctor lacus nisl, eget convallis velit tristique sit amet. Vestibulum at nisl sit amet quam auctor hendrerit. Curabitur laoreet lorem ac mi dignissim, nec efficitur arcu lobortis. Suspendisse porta dui at suscipit porttitor. Curabitur at lectus nibh. Mauris tellus tortor, congue ac sapien at, tristique tempus lacus. Nam sollicitudin lacinia semper.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nunc est, rutrum quis cursus quis, suscipit eu lacus. Quisque blandit tortor

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nunc est, rutrum quis cursus quis, suscipit eu lacus. Quisque blandit tortor
                    
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nunc est, rutrum quis cursus quis, suscipit eu lacus. Quisque blandit tortor
                    